@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Views</h1>
    <p>Introduce <a href="https://github.com/FreeJobMe/om-06-sprint-13-views-taras-piltenko-anastasia-lutchenko">our project</a>.</p>
</div>
